$black-blue: #394B50;
$grey: #7B7B7B;
$grey-2: #868686;
$grey-3: #75888D;
$grey-4: #818B95;
$grey-5: #B5BBC1;
$grey-6: #AEB7BA;
$main-white: #ffffff;
$white: #E7EDF3;
$orange: #FFBB42;
$orange-2: #FFC155;
$orange-3:#F6772C;
$blue-light: #709DCA;
$blue:#8EB8E2;


